In [12]:
import tensorflow as tf
import yfinance as yf 
import pandas as pd
from tensorflow.keras.preprocessing import timeseries_dataset_from_array

## Data Import & Ticker Selection

In [10]:
days = 21
tickers = ["GE", "AAPL", "GOOGL"]
stocks = pd.concat([yf.Ticker(i).history(period = "max")["Close"].pct_change().dropna().rename(i) for i in tickers], axis=1, join = 'inner')

                  GE      AAPL     GOOGL
Date
2004-08-20  0.002491  0.011008  0.001790
2004-09-10 -0.000125  0.005579  0.016137
2004-10-01 -0.000385  0.014931  0.009836
2004-10-22  0.004739  0.009722  0.015214
2004-11-12  0.000319  0.012468 -0.001087
...              ...       ...       ...
2021-01-29  0.003611 -0.003732  0.009384
2021-02-19  0.004271 -0.003769  0.000066
2021-03-12  0.005600  0.000695  0.001020
2021-04-02  0.000783  0.005128  0.004100
2021-04-23  0.000117 -0.002904  0.001460

[291 rows x 3 columns]